 body{ background-color: darkmagenta;}
  

.p {
    background-color: hotpink;
}

.y {
    background-color: yellow;
}

.g {
    background-color: lawngreen;
}

.b {
    background-color: darkturquoise;
}

.a {
    background-color: lightpink;
}

.c {
    background-color: goldenrod;
}

.d {
    background-color: springgreen;
}

.e {
    background-color: mediumvioletred;
}

.f {
    background-color: greenyellow;
}

.h {
    background-color: lightsalmon;
}

.i {
    background-color: orangered;
}

.j {
    background-color: aqua;
}

.m {
    background-color: lime;
}